@import "./fonty-colors.scss";



header{
    min-height: 53.2rem;
    background-color: #F8F8FF;

    position: relative;
    overflow: hidden;
    display: grid;
    place-content: center;
    
  
}

header::before {
        content: "";
        background-image: url(../assets/bg-top.svg);
        width: 30.7rem;
        height: 30.7rem;

        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        
}

        header::after {
        content: "";
        background-image: url(../assets/bg-top-2.svg);
        width: 40.7rem;
        height: 30.7rem;
        position: absolute;
        right: 0;
        bottom: 0.1rem;
}

header .content {
    width: fit-content;
    

    position: relative;
    z-index: 1;

    .top{
        text-align: center;
    }
    
    
    span{
        color: $color;
    }

    p{
        color: #E45858;
    }

    h1{
        font-size: 4.8rem;
        line-height: 125%;
        color: #121214;
        max-width: 64.7rem;
        margin: auto;
    }
}





